#
# persistent net rules example:
#
# ACTION!="add", GOTO="local_end"
# SUBSYSTEM!="net", GOTO="local_end"
#
### KERNEL="oldnameprefix*", SYSFS{address}=="MACaddress", NAME="newname"
#
# KERNEL=="eth?", DRIVERS=="?*", SYSFS{address}=="00:01:02:03:04:05", SYSFS{device}=="0x1111", NAME="wireless"
# KERNEL=="eth?", DRIVERS=="?*", SYSFS{address}=="00:11:12:13:14:15", SYSFS{device}=="0x2222", NAME="lan"
# KERNEL=="eth?", DRIVERS=="?*", SYSFS{address}=="00:aa:bb:cc:dd:ee:ff:11", SYSFS{device}=="0x3333", NAME="firewire"
#
# LABEL="local_end"
#
# persistent CD-ROM rules example:
#
# ACTION!="add", GOTO="local_end"
#
# BUS=="ide", ID=="0.1", SYMLINK+="cdrom" 
# BUS=="ide", ID=="0.1", SYMLINK+="dvd" 
#
# BUS=="ide", ID=="1.1", SYMLINK+="cdrom1"
# BUS=="ide", ID=="1.1", SYMLINK+="dvd1"
# BUS=="ide", ID=="1.1", SYMLINK+="cdrw"
# BUS=="ide", ID=="1.1", SYMLINK+="dvdrw"
#
# dynamic symlinks for cdroms:
#
# ENV{ID_CDROM}=="?*",		SYMLINK+="cdrom",	GROUP="cdwrite"
# ENV{ID_CDROM_CD_RW}=="?*",	SYMLINK+="cdrw",	GROUP="cdwrite"
# ENV{ID_CDROM_DVD}=="?*",	SYMLINK+="dvd",		GROUP="cdwrite"
# ENV{ID_CDROM_DVD_R}=="?*",	SYMLINK+="dvdrw",	GROUP="cdwrite"
#
# LABEL="local_end"
