ACTION!="add", GOTO="hotplug_end"
SUBSYSTEM=="usb", ATTRS{idProduct}=="c281", ATTRS{idVendor}=="046d", RUN+="/sbin/modprobe -q iforce"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="0553", RUN+="/sbin/modprobe -q cpia_usb"
SUBSYSTEM=="usb", ATTRS{bDeviceSubClass}=="00", ATTRS{bDeviceClass}=="02", SYSFS{bDeviceProtocol}=="00", RUN+="/sbin/modprobe -q acm"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceClass}=="01", RUN+="/sbin/modprobe -q audio"
SUBSYSTEM=="usb", ATTRS{bDeviceSubClass}=="01", ATTRS{bDeviceClass}=="e0", SYSFS{bDeviceProtocol}=="01", RUN+="/sbin/modprobe -q bluetooth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2131", ATTRS{idVendor}=="0547", RUN+="/sbin/modprobe -q dabusb"
SUBSYSTEM=="usb", ATTRS{idProduct}=="9999", ATTRS{idVendor}=="0547", RUN+="/sbin/modprobe -q dabusb"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0120", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0130", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0131", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0132", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0100", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0110", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0111", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0112", ATTRS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="6002", ATTRS{idVendor}=="f003", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1002", ATTRS{idVendor}=="04b4", RUN+="/sbin/modprobe -q dsbr100"
SUBSYSTEM=="usb", ATTRS{bInterfaceClass}=="03", RUN+="/sbin/modprobe -q hid"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0002", ATTRS{idProduct}=="8080", SYSFS{idVendor}=="0545", SYSFS{bcdDevice_lo}=="0002", RUN+="/sbin/modprobe -q ibmcam"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="030a", ATTRS{idProduct}=="8080", SYSFS{idVendor}=="0545", SYSFS{bcdDevice_lo}=="030a", RUN+="/sbin/modprobe -q ibmcam"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0008", ATTRS{idVendor}=="03e8", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="03e8", ATTRS{idVendor}=="0506", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2002", ATTRS{idVendor}=="0557", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4000", ATTRS{idVendor}=="0557", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="0565", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0005", ATTRS{idVendor}=="0565", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0008", ATTRS{idVendor}=="05e9", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0008", ATTRS{idVendor}=="06e1", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0100", ATTRS{idVendor}=="0707", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="07aa", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1001", ATTRS{idVendor}=="0846", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0400", ATTRS{idVendor}=="13d2", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2202", ATTRS{idVendor}=="066b", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0005", ATTRS{idVendor}=="1645", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4000", ATTRS{idVendor}=="2001", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4000", ATTRS{idVendor}=="07b8", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", ATTRS{idProduct}=="a800", ATTRS{idVendor}=="055f", RUN+="/sbin/modprobe -q mdc800"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0300", ATTRS{idVendor}=="04ce", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0094", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0099", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="009a", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="00a0", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="00a3", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="80a3", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="80ac", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0511", ATTRS{idVendor}=="05a9", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", ATTRS{idProduct}=="a511", ATTRS{idVendor}=="05a9", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="0813", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1046", ATTRS{idVendor}=="083a", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="8511", ATTRS{idVendor}=="07a6", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0986", ATTRS{idVendor}=="07a6", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0986", ATTRS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0987", ATTRS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0988", ATTRS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="8511", ATTRS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0004", ATTRS{idVendor}=="07aa", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4001", ATTRS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4002", ATTRS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4003", ATTRS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="abc1", ATTRS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="abc1", ATTRS{idVendor}=="07b8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4002", ATTRS{idVendor}=="07b8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0904", ATTRS{idVendor}=="04bb", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4002", ATTRS{idVendor}=="056e", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2202", ATTRS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2203", ATTRS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2204", ATTRS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2206", ATTRS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="0411", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0200", ATTRS{idVendor}=="0707", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{idProduct}=="9100", ATTRS{idVendor}=="15e8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", ATTRS{bDeviceSubClass}=="01", ATTRS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="01"
SUBSYSTEM=="usb", ATTRS{bDeviceSubClass}=="01", ATTRS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="02"
SUBSYSTEM=="usb", ATTRS{bDeviceSubClass}=="01", ATTRS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="03"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="02", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="03", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="0841", RUN+="/sbin/modprobe -q rio500"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2060", ATTRS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2040", ATTRS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2022", ATTRS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2061", ATTRS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0100", ATTRS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2001", ATTRS{idVendor}=="0458", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0205", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0101", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0105", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0102", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0401", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0701", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0201", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0601", ATTRS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0268", ATTRS{idVendor}=="0638", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0099", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0094", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="00a0", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="009a", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="00a3", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="80a3", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="80ac", ATTRS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="0400", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0003", ATTRS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0006", ATTRS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0300", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0380", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0301", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0381", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0302", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0382", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0303", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0383", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0340", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0360", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0341", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0361", ATTRS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0101", ATTRS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0103", ATTRS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0104", ATTRS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0106", ATTRS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0107", ATTRS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0010", ATTRS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0030", ATTRS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0230", ATTRS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0221", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0211", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0231", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0311", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0321", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0331", ATTRS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0103", ATTRS{idVendor}=="050d", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", ATTRS{idProduct}=="8007", ATTRS{idVendor}=="056c", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="0565", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0002", ATTRS{idVendor}=="05c5", RUN+="/sbin/modprobe -q digi_acceleport"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0004", ATTRS{idVendor}=="05c5", RUN+="/sbin/modprobe -q digi_acceleport"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="084f", RUN+="/sbin/modprobe -q empeg"
SUBSYSTEM=="usb", ATTRS{idProduct}=="8372", ATTRS{idVendor}=="0403", RUN+="/sbin/modprobe -q ftdi_sio"
SUBSYSTEM=="usb", ATTRS{idProduct}=="6001", ATTRS{idVendor}=="0403", RUN+="/sbin/modprobe -q ftdi_sio"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0105", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0103", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0106", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0101", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0102", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0109", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0112", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0107", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0108", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="010f", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0110", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="010a", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0103", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan_pda"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0104", ATTRS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan_pda"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0210", ATTRS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0230", ATTRS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0200", ATTRS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1000", ATTRS{idVendor}=="0586", RUN+="/sbin/modprobe -q omninet"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0100", ATTRS{idVendor}=="082d", RUN+="/sbin/modprobe -q visor"
SUBSYSTEM=="usb", ATTRS{idProduct}=="8001", ATTRS{idVendor}=="0710", RUN+="/sbin/modprobe -q whiteheat"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="0710", RUN+="/sbin/modprobe -q whiteheat"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0245", ATTRS{idProduct}=="0000", SYSFS{idVendor}=="03ee", SYSFS{bcdDevice_lo}=="0000", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0107", SYSFS{idVendor}=="03f0", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0001", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0002", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0006", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0007", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0009", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="000a", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="000b", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="000c", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0101", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0210", ATTRS{idProduct}=="0010", SYSFS{idVendor}=="054c", SYSFS{bcdDevice_lo}=="0106", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="002d", SYSFS{idVendor}=="054c", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0299", ATTRS{idProduct}=="0000", SYSFS{idVendor}=="057b", SYSFS{bcdDevice_lo}=="0000", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="9999", ATTRS{idProduct}=="0000", SYSFS{idVendor}=="057b", SYSFS{bcdDevice_lo}=="0300", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="a601", SYSFS{idVendor}=="059f", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0031", SYSFS{idVendor}=="05ab", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0000", SYSFS{idVendor}=="0644", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0002", SYSFS{idVendor}=="0693", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0005", SYSFS{idVendor}=="0693", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="0001", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0100", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0009", ATTRS{idProduct}=="0002", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0009", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0004", SYSFS{idVendor}=="07af", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0100", ATTRS{idProduct}=="0005", SYSFS{idVendor}=="07af", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="02", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="03", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="04", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="05", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="06", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="02", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="03", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="04", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="05", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="06", ATTRS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="02", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="03", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="04", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="05", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="06", ATTRS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bcdDevice_hi}=="0200", ATTRS{idProduct}=="06803", SYSFS{idVendor}=="0ea0", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", ATTRS{bInterfaceClass}=="09", RUN+="/sbin/modprobe -q usbcore"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2720", ATTRS{idVendor}=="0547", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1080", ATTRS{idVendor}=="0525", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0000", ATTRS{idVendor}=="067b", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="067b", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1001", ATTRS{idVendor}=="047e", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", ATTRS{idProduct}=="2001", ATTRS{idVendor}=="0557", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", ATTRS{idProduct}=="1284", ATTRS{idVendor}=="0729", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0010", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0020", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0021", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0022", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0023", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0024", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0061", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4200", ATTRS{idVendor}=="066f", RUN+="/sbin/modprobe -q stir4200"
SUBSYSTEM=="usb", ATTRS{bDeviceClass}=="09", ATTRS{bInterfaceClass}=="09", RUN+="/sbin/modprobe -q usbcore"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="03"
SUBSYSTEM=="usb", ATTRS{bInterfaceSubClass}=="01", ATTRS{bInterfaceProtocol}=="02", SYSFS{bInterfaceClass}=="03"
SUBSYSTEM=="usb", ATTRS{idProduct}=="9998", ATTRS{idVendor}=="05a4", RUN+="/sbin/modprobe -q mousedev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="c207", ATTRS{idVendor}=="046d", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0008", ATTRS{idVendor}=="045e", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="3002", ATTRS{idVendor}=="047d", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="9902", ATTRS{idVendor}=="07b5", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0006", ATTRS{idVendor}=="06a3", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="4001", ATTRS{idVendor}=="0428", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0010", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0020", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0021", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0022", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0023", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0024", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0011", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0042", ATTRS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", ATTRS{idProduct}=="0001", ATTRS{idVendor}=="1212", RUN+="/sbin/modprobe -q usblcd"
LABEL="hotplug_end"
