# allow pci cold plug for usb controllers only
# alias pci:v*d*sv*sd*bc0Csc03i10* ohci-hcd
# alias pci:v*d*sv*sd*bc0Csc03i20* ehci-hcd
# alias pci:v*d*sv*sd*bc0Csc03i00* uhci-hcd
ACTION=="add", SUBSYSTEM=="pci", ENV{UDEV_START}=="1", MODALIAS=="*", \
        SYSFS{class}="0x0c0300|0x0c0310|0x0c0320", \
        RUN+="/sbin/modprobe $modalias"

# modprobe pci devices on hot plug
ACTION=="add", SUBSYSTEM=="pci", ENV{UDEV_START}!="1", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"

# usbhid should be loaded before usbmouse, or else some Microsoft mice move vertically only
ACTION=="add", MODALIAS="usb:v*p*d*dc*dsc*dp*ic03isc01ip02*", RUN+="/sbin/modprobe usbhid"

# modprobe on hot plug (and cold plug, which is processed by udevstart)
ACTION=="add", SUBSYSTEM=="usb", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"
ACTION=="add", SUBSYSTEM=="pcmcia", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"
ACTION=="add", SUBSYSTEM=="pcmcia", MODALIAS=="*", \
        RUN+="/bin/sh -c 'echo 1 > /sys/$DEVPATH/allow_func_id_match'"
ACTION=="add", SUBSYSTEM=="ieee1394", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"

ACTION=="add", SUBSYSTEM=="ieee1394", MODALIAS=="*", \
	RUN+="/sbin/modprobe $modalias"

# disks & magneto-optical disk:
ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="[07]", \
	RUN+="/sbin/modprobe sd_mod"

# enclosure:
ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="14", \
	RUN+="/sbin/modprobe sd_mod"

# WORM & ROM:
ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="[45]", \
	RUN+="/sbin/modprobe sr_mod"

# Tape:
ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}=="Onstream", \
        SYSFS{model}!="ADR*", RUN+="/sbin/modprobe osst"

ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}=="Onstream", \
	SYSFS{model}=="ADR*", RUN+="/sbin/modprobe st"

ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}!="Onstream", \
        RUN+="/sbin/modprobe st"

# printer, scanner (hp & all), changer & comm :
ACTION=="add", SUBSYSTEM=="scsi", SYSFS{type}=="[23689]", \
        RUN+="/sbin/modprobe sg"

# helpers	      
ACTION=="add", SUBSYSTEM=="net", ENV{INTERFACE}=="*", \
	RUN+="/sbin/udev_net_helper"
	
ACTION=="remove", SUBSYSTEM=="net", ENV{INTERFACE}=="*", \
	RUN+="/sbin/udev_net_helper"

ACTION=="add", SUBSYSTEM=="input", \
	RUN+="/sbin/udev_input_helper"

ACTION=="add", SUBSYSTEM=="ieee1394", \
	RUN+="/sbin/udev_ieee1394_helper"
	
ACTION=="remove", SUBSYSTEM=="ieee1394", \
	RUN+="/sbin/udev_ieee1394_helper"

ACTION=="add", SUBSYSTEM=="firmware", \
	RUN+="/sbin/firmware_helper"

# stopping the udev/modprobe from loading the fb drivers.
install pci:v*d*sv*sd*bc03sc*i* /bin/true
