ACTION!="add", GOTO="hotplug_not_add_event"

# check a driver is already loaded
ENV{PHYSDEVDRIVER}=="?*", GOTO="hotplug_driver_loaded"

# allow pci cold plug for usb controllers only
# alias pci:v*d*sv*sd*bc0Csc03i10* ohci-hcd
# alias pci:v*d*sv*sd*bc0Csc03i20* ehci-hcd
# alias pci:v*d*sv*sd*bc0Csc03i00* uhci-hcd
SUBSYSTEM=="pci", ENV{UDEV_START}=="1", MODALIAS=="*", \
        SYSFS{class}="0x0c0300|0x0c0310|0x0c0320", \
        RUN+="/sbin/modprobe $modalias"

# modprobe pci devices on hot plug
SUBSYSTEM=="pci", ENV{UDEV_START}!="1", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"

# usbhid should be loaded before usbmouse, or else some Microsoft mice
# move vertically only
MODALIAS=="usb:v*p*d*dc*dsc*dp*ic03isc01ip02*", \
	RUN+="/sbin/modprobe usbhid"

# modprobe on hot plug (and cold plug, which is processed by udevstart)
SUBSYSTEM=="usb", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"
SUBSYSTEM=="pcmcia", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"
SUBSYSTEM=="pcmcia", MODALIAS=="*", \
        RUN+="/bin/sh -c 'echo 1 > /sys/$DEVPATH/allow_func_id_match'"
SUBSYSTEM=="ieee1394", MODALIAS=="*", \
        RUN+="/sbin/modprobe $modalias"

# disks & magneto-optical disk:
SUBSYSTEM=="scsi", SYSFS{type}=="[07]", \
	RUN+="/sbin/modprobe sd_mod"

# enclosure:
SUBSYSTEM=="scsi", SYSFS{type}=="14", \
	RUN+="/sbin/modprobe sd_mod"

# WORM & ROM:
SUBSYSTEM=="scsi", SYSFS{type}=="[45]", \
	RUN+="/sbin/modprobe sr_mod"

# Tape:
SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}=="Onstream", \
        SYSFS{model}!="ADR*", RUN+="/sbin/modprobe osst"

SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}=="Onstream", \
	SYSFS{model}=="ADR*", RUN+="/sbin/modprobe st"

SUBSYSTEM=="scsi", SYSFS{type}=="1", SYSFS{vendor}!="Onstream", \
        RUN+="/sbin/modprobe st"

# printer, scanner (hp & all), changer & comm :
SUBSYSTEM=="scsi", SYSFS{type}=="[23689]", \
        RUN+="/sbin/modprobe sg"
	
LABEL="hotplug_driver_loaded"

# helpers	      
SUBSYSTEM=="net", ENV{INTERFACE}=="*", \
	RUN+="/lib/udev/udev_net_helper"

SUBSYSTEM=="input", \
	RUN+="/lib/udev/udev_input_helper"

SUBSYSTEM=="ieee1394", \
	RUN+="/lib/udev/udev_ieee1394_helper"

SUBSYSTEM=="firmware", \
	RUN+="/lib/udev/firmware_helper"

LABEL="hotplug_not_add_event"
	
ACTION=="remove", SUBSYSTEM=="net", ENV{INTERFACE}=="*", \
	RUN+="/lib/udev/udev_net_helper"

ACTION=="remove", SUBSYSTEM=="ieee1394", \
	RUN+="/lib/udev/udev_ieee1394_helper"
