ACTION!="add", GOTO="hotplug_end"
SUBSYSTEM=="usb", SYSFS{idProduct}=="c281", SYSFS{idVendor}=="046d", RUN+="/sbin/modprobe -q iforce"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="0553", RUN+="/sbin/modprobe -q cpia_usb"
SUBSYSTEM=="usb", SYSFS{bDeviceSubClass}=="00", SYSFS{bDeviceClass}=="02", SYSFS{bDeviceProtocol}=="00", RUN+="/sbin/modprobe -q acm"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceClass}=="01", RUN+="/sbin/modprobe -q audio"
SUBSYSTEM=="usb", SYSFS{bDeviceSubClass}=="01", SYSFS{bDeviceClass}=="e0", SYSFS{bDeviceProtocol}=="01", RUN+="/sbin/modprobe -q bluetooth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2131", SYSFS{idVendor}=="0547", RUN+="/sbin/modprobe -q dabusb"
SUBSYSTEM=="usb", SYSFS{idProduct}=="9999", SYSFS{idVendor}=="0547", RUN+="/sbin/modprobe -q dabusb"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0120", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0130", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0131", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0132", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0100", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0110", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0111", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0112", SYSFS{idVendor}=="040a", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="6002", SYSFS{idVendor}=="f003", RUN+="/sbin/modprobe -q dc2xx"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1002", SYSFS{idVendor}=="04b4", RUN+="/sbin/modprobe -q dsbr100"
SUBSYSTEM=="usb", SYSFS{bInterfaceClass}=="03", RUN+="/sbin/modprobe -q hid"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0002", SYSFS{idProduct}=="8080", SYSFS{idVendor}=="0545", SYSFS{bcdDevice_lo}=="0002", RUN+="/sbin/modprobe -q ibmcam"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="030a", SYSFS{idProduct}=="8080", SYSFS{idVendor}=="0545", SYSFS{bcdDevice_lo}=="030a", RUN+="/sbin/modprobe -q ibmcam"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0008", SYSFS{idVendor}=="03e8", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="03e8", SYSFS{idVendor}=="0506", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2002", SYSFS{idVendor}=="0557", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4000", SYSFS{idVendor}=="0557", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="0565", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0005", SYSFS{idVendor}=="0565", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0008", SYSFS{idVendor}=="05e9", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0008", SYSFS{idVendor}=="06e1", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0100", SYSFS{idVendor}=="0707", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="07aa", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1001", SYSFS{idVendor}=="0846", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0400", SYSFS{idVendor}=="13d2", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2202", SYSFS{idVendor}=="066b", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0005", SYSFS{idVendor}=="1645", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4000", SYSFS{idVendor}=="2001", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4000", SYSFS{idVendor}=="07b8", RUN+="/sbin/modprobe -q kaweth"
SUBSYSTEM=="usb", SYSFS{idProduct}=="a800", SYSFS{idVendor}=="055f", RUN+="/sbin/modprobe -q mdc800"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0300", SYSFS{idVendor}=="04ce", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0094", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0099", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="009a", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="00a0", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="00a3", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="80a3", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="80ac", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q microtek"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0511", SYSFS{idVendor}=="05a9", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", SYSFS{idProduct}=="a511", SYSFS{idVendor}=="05a9", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="0813", RUN+="/sbin/modprobe -q ov511"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1046", SYSFS{idVendor}=="083a", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="8511", SYSFS{idVendor}=="07a6", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0986", SYSFS{idVendor}=="07a6", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0986", SYSFS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0987", SYSFS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0988", SYSFS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="8511", SYSFS{idVendor}=="08dd", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0004", SYSFS{idVendor}=="07aa", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4001", SYSFS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4002", SYSFS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4003", SYSFS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="abc1", SYSFS{idVendor}=="2001", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="abc1", SYSFS{idVendor}=="07b8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4002", SYSFS{idVendor}=="07b8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0904", SYSFS{idVendor}=="04bb", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4002", SYSFS{idVendor}=="056e", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2202", SYSFS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2203", SYSFS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2204", SYSFS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2206", SYSFS{idVendor}=="066b", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="0411", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0200", SYSFS{idVendor}=="0707", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{idProduct}=="9100", SYSFS{idVendor}=="15e8", RUN+="/sbin/modprobe -q pegasus"
SUBSYSTEM=="usb", SYSFS{bDeviceSubClass}=="01", SYSFS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="01"
SUBSYSTEM=="usb", SYSFS{bDeviceSubClass}=="01", SYSFS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="02"
SUBSYSTEM=="usb", SYSFS{bDeviceSubClass}=="01", SYSFS{bDeviceClass}=="07", SYSFS{bDeviceProtocol}=="03"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="02", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="03", SYSFS{bInterfaceClass}=="07"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="0841", RUN+="/sbin/modprobe -q rio500"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2060", SYSFS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2040", SYSFS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2022", SYSFS{idVendor}=="04a5", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2061", SYSFS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0100", SYSFS{idVendor}=="06bd", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2001", SYSFS{idVendor}=="0458", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0205", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0101", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0105", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0102", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0401", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0701", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0201", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0601", SYSFS{idVendor}=="03f0", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0268", SYSFS{idVendor}=="0638", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0099", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0094", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="00a0", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="009a", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="00a3", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="80a3", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="80ac", SYSFS{idVendor}=="05da", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1000", SYSFS{idVendor}=="0400", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0003", SYSFS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0006", SYSFS{idVendor}=="055f", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0300", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0380", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0301", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0381", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0302", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0382", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0303", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0383", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0340", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0360", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0341", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0361", SYSFS{idVendor}=="0461", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0101", SYSFS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0103", SYSFS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0104", SYSFS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0106", SYSFS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0107", SYSFS{idVendor}=="04b8", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0010", SYSFS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0030", SYSFS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0230", SYSFS{idVendor}=="1606", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0221", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0211", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0231", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0311", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0321", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0331", SYSFS{idVendor}=="04a7", RUN+="/sbin/modprobe -q scanner"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0103", SYSFS{idVendor}=="050d", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", SYSFS{idProduct}=="8007", SYSFS{idVendor}=="056c", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="0565", RUN+="/sbin/modprobe -q belkin_sa"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="05c5", RUN+="/sbin/modprobe -q digi_acceleport"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0004", SYSFS{idVendor}=="05c5", RUN+="/sbin/modprobe -q digi_acceleport"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="084f", RUN+="/sbin/modprobe -q empeg"
SUBSYSTEM=="usb", SYSFS{idProduct}=="8372", SYSFS{idVendor}=="0403", RUN+="/sbin/modprobe -q ftdi_sio"
SUBSYSTEM=="usb", SYSFS{idProduct}=="6001", SYSFS{idVendor}=="0403", RUN+="/sbin/modprobe -q ftdi_sio"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0105", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0103", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0106", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0101", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0102", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0109", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0112", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0107", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0108", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="010f", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0110", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="010a", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0103", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan_pda"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0104", SYSFS{idVendor}=="06cd", RUN+="/sbin/modprobe -q keyspan_pda"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0210", SYSFS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0230", SYSFS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0200", SYSFS{idVendor}=="0711", RUN+="/sbin/modprobe -q mct_u232"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1000", SYSFS{idVendor}=="0586", RUN+="/sbin/modprobe -q omninet"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0100", SYSFS{idVendor}=="082d", RUN+="/sbin/modprobe -q visor"
SUBSYSTEM=="usb", SYSFS{idProduct}=="8001", SYSFS{idVendor}=="0710", RUN+="/sbin/modprobe -q whiteheat"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="0710", RUN+="/sbin/modprobe -q whiteheat"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0245", SYSFS{idProduct}=="0000", SYSFS{idVendor}=="03ee", SYSFS{bcdDevice_lo}=="0000", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0107", SYSFS{idVendor}=="03f0", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0006", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0007", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0009", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="000a", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="000b", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="000c", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0101", SYSFS{idVendor}=="04e6", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0210", SYSFS{idProduct}=="0010", SYSFS{idVendor}=="054c", SYSFS{bcdDevice_lo}=="0106", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="002d", SYSFS{idVendor}=="054c", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0299", SYSFS{idProduct}=="0000", SYSFS{idVendor}=="057b", SYSFS{bcdDevice_lo}=="0000", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="9999", SYSFS{idProduct}=="0000", SYSFS{idVendor}=="057b", SYSFS{bcdDevice_lo}=="0300", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="a601", SYSFS{idVendor}=="059f", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0031", SYSFS{idVendor}=="05ab", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0000", SYSFS{idVendor}=="0644", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="0693", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0005", SYSFS{idVendor}=="0693", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0100", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0009", SYSFS{idProduct}=="0002", SYSFS{idVendor}=="0781", SYSFS{bcdDevice_lo}=="0009", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0004", SYSFS{idVendor}=="07af", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0100", SYSFS{idProduct}=="0005", SYSFS{idVendor}=="07af", SYSFS{bcdDevice_lo}=="0100", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="02", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="03", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="04", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="05", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="06", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="02", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="03", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="04", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="05", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="06", SYSFS{bInterfaceProtocol}=="00", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="02", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="03", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="04", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="05", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="06", SYSFS{bInterfaceProtocol}=="50", SYSFS{bInterfaceClass}=="08", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bcdDevice_hi}=="0200", SYSFS{idProduct}=="06803", SYSFS{idVendor}=="0ea0", SYSFS{bcdDevice_lo}=="0200", RUN+="/sbin/modprobe -q usb-storage"
SUBSYSTEM=="usb", SYSFS{bInterfaceClass}=="09", RUN+="/sbin/modprobe -q usbcore"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2720", SYSFS{idVendor}=="0547", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1080", SYSFS{idVendor}=="0525", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0000", SYSFS{idVendor}=="067b", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="067b", RUN+="/sbin/modprobe -q usbnet"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1001", SYSFS{idVendor}=="047e", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", SYSFS{idProduct}=="2001", SYSFS{idVendor}=="0557", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", SYSFS{idProduct}=="1284", SYSFS{idVendor}=="0729", RUN+="/sbin/modprobe -q uss720"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0010", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0020", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0021", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0022", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0023", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0024", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q wacom"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4200", SYSFS{idVendor}=="066f", RUN+="/sbin/modprobe -q stir4200"
SUBSYSTEM=="usb", SYSFS{bDeviceClass}=="09", SYSFS{bInterfaceClass}=="09", RUN+="/sbin/modprobe -q usbcore"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="01", SYSFS{bInterfaceClass}=="03"
SUBSYSTEM=="usb", SYSFS{bInterfaceSubClass}=="01", SYSFS{bInterfaceProtocol}=="02", SYSFS{bInterfaceClass}=="03"
SUBSYSTEM=="usb", SYSFS{idProduct}=="9998", SYSFS{idVendor}=="05a4", RUN+="/sbin/modprobe -q mousedev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="c207", SYSFS{idVendor}=="046d", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0008", SYSFS{idVendor}=="045e", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="3002", SYSFS{idVendor}=="047d", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="9902", SYSFS{idVendor}=="07b5", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0006", SYSFS{idVendor}=="06a3", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="4001", SYSFS{idVendor}=="0428", RUN+="/sbin/modprobe -q joydev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0010", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0020", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0021", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0022", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0023", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0024", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0011", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0042", SYSFS{idVendor}=="056a", RUN+="/sbin/modprobe -q evdev"
SUBSYSTEM=="usb", SYSFS{idProduct}=="0001", SYSFS{idVendor}=="1212", RUN+="/sbin/modprobe -q usblcd"
LABEL="hotplug_end"
